body {
  font-size: 14px;
}

section .element {
  margin: 0 auto;
  width: 60%;
}

.example {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

.example {
  font-family: sans-serif;
  font-size: 2em; /* 28px */
}

.example, .element {
  padding-top: 30px;
  text-align: center;
}

.element {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

#diffcolor{
  background-color: orange;
}
